html.dark {
    --text-color: #FFFFFF;
    --header-bg-color: #171C28;
    --top-act-group-color: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.20);
    --icon--color: brightness(0) saturate(100%) invert(100%) sepia(8%) saturate(0%) hue-rotate(93deg) brightness(106%) contrast(112%);
}