@use '../abstracts/index' as abs;

html {
    --text-color: #1A162E;
    --header-bg-color: #EEE;
    --bg-color: #F6F6F6;
    --top-act-group-color: #FFF;
    --top-act-group-shadow: rgba(237, 237, 246, 0.20);
    --icon--color: brightness(0) saturate(100%) invert(5%) sepia(56%) saturate(2384%) hue-rotate(235deg) brightness(89%) contrast(91%);

    @include abs.breakpoint(md) {
        --header-bg-color: #FFFFFF;
    }
}