*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --text-color: #1A162E;
    --icon--color: brightness(0) saturate(100%) invert(5%) sepia(56%) saturate(2384%) hue-rotate(235deg) brightness(89%) contrast(91%);
}

html {
    font-size: 62.5%;
}

body {
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}

.icon {
    -webkit-filter: var(--icon--color);
    filter: var(--icon--color);
}